<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="OrangrHRMProject">
  <test thread-count="5" name="PIMPageTest">
    <classes>
      <class name="com.TestLayer.PIMPageTest"/>
    </classes>
  </test> <!-- PIMPageTest -->
</suite> <!-- OrangrHRMProject -->
